<app-progress *ngIf="isLoading"></app-progress>

<ng-container *ngIf="!isLoading">

    <mat-toolbar class="appBar">
        <button mat-icon-button matTooltip="Regresar" (click)="backPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <img class="logo" src="assets/logo.png" alt="logo">
        <span class="textLogo">Banco del Monte</span>

        <span class="spacer"></span>

    </mat-toolbar>

    <div class="container main">

        <div class="row">
            <h3 class="title">Cuentas</h3>
        </div>
        <div class="row">
            <ol class="list-group ">
                <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action" *ngFor="let cuenta of accounts">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{cuenta.numero_cuenta}}</div>
                        {{cuenta.tipo_cuenta}}
                    </div>
                    <span class="badge text-bg-success rounded-pill">{{cuenta.saldo | currency:'GTQ ':'code'}}</span>
                </li>
                
            </ol>
        </div>
    </div>
</ng-container>