<app-progress *ngIf="isLoading"></app-progress>

<ng-container *ngIf="!isLoading">

    <mat-toolbar class="appBar">
        <button mat-icon-button matTooltip="Regresar" (click)="backPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <img class="logo" src="assets/logo.png" alt="logo">
        <span class="textLogo">Banco del Monte</span>

        <span class="spacer"></span>

    </mat-toolbar>

    <div class="container main">

        <div class="row">
            <h3 class="title">Transferencias</h3>
        </div>
        <div class="row">
            <label class="labeltxt">Tipo de Transferencia</label>
            <div class="card card_cuentas">
                <div class="form-check" *ngFor="let tipo of typesTra">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="typeTra" [value]="tipo">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{tipo.name}}
                    </label>
                </div>
               
            </div>
        </div>
    </div>
</ng-container>
