<app-progress *ngIf="isLoading"></app-progress>

<ng-container>

    <mat-toolbar>
        <img class="logo" src="assets/logo.png" alt="logo">
        <span class="textLogo">Banco del Monte</span>

        <span class="spacer"></span>
        <button mat-icon-button  matTooltip="Cerrar sesión">
            <mat-icon>power_settings_new</mat-icon>
          </button>
    </mat-toolbar>

    <div class="container">
        <div class="row">
            <h3 class="title">Operaciones</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center" (click)="navigateNewAccount()">
                   <span class="d-flex"> 
                    <mat-icon>person_add</mat-icon>
                    <h4>Nueva Cuenta</h4>
                </span>

                    <p> Crea cuentas bancarias (personal, de ahorro o empresarial) e ingresa los documentos requeridos.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center" (click)="navigateNewUser()">
                   <span class="d-flex"> 
                    <mat-icon>person_add</mat-icon>
                    <h4>Nuevo Usuario</h4>
                </span>

                    <p> Crea nuevos usuarios (soprte, cajero, admin o usuarios) e ingresa los documentos requeridos.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center">
                    <span class="d-flex"> 
                     <mat-icon>account_balance_wallet</mat-icon>
                     <h4>Mis cuentas</h4>
                 </span>
 
                     <p> Visualiza y gestiona tus cuentas bancarias. Revisa saldos, movimientos recientes y detalles de cada cuenta vinculada (personal, de ahorro o empresarial).</p>
                 </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center">
                    <span class="d-flex"> 
                     <mat-icon>send_money</mat-icon>
                     <h4>Transferencias</h4>
                 </span>
                 <p>Realiza transferencias entre tus cuentas o hacia otras cuentas de terceros. Asegúrate de verificar los datos del destinatario y el monto antes de confirmar la transacción</p>   
                 </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center">
                    <span class="d-flex"> 
                     <mat-icon>dynamic_feed</mat-icon>
                     <h4>Movimientos</h4>
                 </span>
                 <p>Selecciona el tipo de transacción (retiro, depósito o transferencia) para visualizar o realizar operaciones.</p>
                 </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card justify-content-center">
                    <span class="d-flex"> 
                     <mat-icon>assured_workload</mat-icon>
                     <h4>Estados de cuenta</h4>
                    </span>
                    <p>Genera y visualiza el estado de cuenta, con un resumen detallado de saldos, movimientos y transacciones realizadas durante un periodo específico.</p>
                 </div>
            </div>
        </div>
    </div>
</ng-container>