p {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.dialog {
    padding   : 0px;
    width     : 350px;
    overflow  : hidden;
}

.contenido {
    padding: 20px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.pin {
    width        : 100%;
    border       : solid 1px #000;
    outline      : none;
    background   : none;
    border-radius: 5px;
    padding      : 5px;
    margin-bottom: 20px;
}

.tituloPin {
    font-weight: bold;
    font-size  : 20px !important;
}

.inputPin {
    padding: 25px 0px;
}