
<img   *ngIf="isLoading" src="assets/load.gif" alt="load">

<div mat-dialog-content class="dialog" *ngIf="!isLoading">

    <div class="contenido">

        <p class="tituloPin" >
          Confirmar contraseña
        </p>

        <form #loginForm="ngForm" (ngSubmit)="validPassword()">
            <div class="inputPin">
                <input type="password" required [(ngModel)]="password" name="clave"
                    placeholder="Contraseña" class="pin" autocomplete="off">
            </div>

            <div class="dFlex">
                <button mat-stroked-button [mat-dialog-close]="false" type="button">
                    Cancelar
                </button>

                <span class="spacer"></span>

                <button mat-stroked-button type="submit">
                   Aceptar
                </button>
            </div>
        </form>

    </div>
</div>