<app-progress *ngIf="isLoading"></app-progress>

<ng-container *ngIf="!isLoading">

    <mat-toolbar class="appBar">
        <button mat-icon-button matTooltip="Regresar" (click)="backPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <img class="logo" src="assets/logo.png" alt="logo">
        <span class="textLogo">Banco del Monte</span>

        <span class="spacer"></span>

    </mat-toolbar>

    <div class="container main">
        <div class="row">
            <h3 class="title">Movimientos</h3>
        </div>

        <div class="row">
            <label class="labeltxt">Tipo de Transferencia</label>
            <div class="card card_cuentas">
                <div class="form-check" *ngFor="let tipo of tiposTransaccion" [matTooltip]="tipo.descripcion">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                        [(ngModel)]="tipoTransaccion" [value]="tipo">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{tipo.nombre}}
                    </label>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <label class="labeltxt">CUI</label>
            <form  #loginForm="ngForm" (ngSubmit)="searchAccountDep()" >  
                <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="cuentaDeposito" name="srchCuentaDep" required>
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
            </form>
          
        </div>
    </div>
</ng-container>