<app-progress *ngIf="isLoading"></app-progress>

<ng-container *ngIf="!isLoading">

    <mat-toolbar class="appBar">
        <button mat-icon-button matTooltip="Regresar" (click)="backPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <img class="logo" src="assets/logo.png" alt="logo">
        <span class="textLogo">Banco del Monte</span>

        <span class="spacer"></span>

    </mat-toolbar>

    <div class="container main">
        <div class="row">
            <h3 class="title">Movimientos</h3>
        </div>

        <div class="row">
            <label class="labeltxt">Tipo de Transferencia</label>
            <div class="card card_cuentas">
                <div class="form-check" *ngFor="let tipo of tiposTransaccion" [matTooltip]="tipo.descripcion">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                        [(ngModel)]="tipoTransaccion" [value]="tipo" [disabled]="tipo.id == 8 ">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{tipo.nombre}}
                    </label>
                </div>

            </div>
        </div>
        <br>
        <div class="row" *ngIf="tipoTransaccion.id == 6">
            <label class="labeltxt">Depositiar a</label>
            <form #loginForm="ngForm" (ngSubmit)="searchAccountDep()">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="inputCuentaDeposito" name="srchCuentaDep"
                        required placeholder="Buscar cuenta">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </form>

        </div>

        <div class="row" *ngIf="tipoTransaccion.id == 7">
            <form #loginForm="ngForm" (ngSubmit)="searchAccountRet()">
                <label class="labeltxt">CUI</label>
                <input class="form-control" type="text" [(ngModel)]="monto" name="monto" required>
                <label class="labeltxt">Retirar de</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="inputCuentaRetiro" name="srchCuentaRet"
                        required placeholder="Buscar cuenta">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </form>

        </div>

        <div class="row" *ngIf="tipoTransaccion">
            <label class="labeltxt">Monto a debitar</label>
            <input class="form-control" type="text" [(ngModel)]="monto" name="monto" required>
            <label class="labeltxt">Comentario</label>
            <input class="form-control" type="text" [(ngModel)]="comment" name="comentarui" required>


            <button class="btnCons" mat-button (click)="confirmTra()">Confirmar</button>
        </div>
    </div>
</ng-container>