.card_cuentas{
    padding: 10px;
}

.labeltxt{
    margin-top: 15px;
    margin-bottom: 5px;
    size: 10px;
    font-weight: 500;
}

.appBar{
    position: fixed;
    top: 0;
}

.main{
    margin-top: 65px;
    padding-bottom: 20px;
}