/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.spacer {
    flex: 1 1 auto;
}

.logo {
    height: 45px;
}

.textLogo {
    margin-left: 10px;
    color      : green;
}

.title {
    margin-top   : 20px;
    margin-bottom: 20px;
}

.card_cuentas{
    padding: 10px;
}

.labeltxt{
    margin-top: 15px;
    margin-bottom: 5px;
    size: 10px;
    font-weight: 500;
}

.appBar{
    position: fixed;
    top: 0;
    z-index:100 ;
}

.main{
    margin-top: 65px;
    padding-bottom: 20px;
}
